

.profile-picture{
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
}
.profile-picture>img{
    border-radius:50px;
    width: 80px;
    height: 80px;
}
.mainpage-firstslide{
    width: 100%;
    height: 50em;
    background-color: lightsalmon;
}
.mainpage-secondslide{
    width: 100%;
    height: 50em;
}
.mainpage-lefthalf{
    width: 50%;
    height: 50em;
    float: left;
    background-color: lightskyblue;
}
.mainpage-righthalf{
    width: 50%;
    height: 50em;
    float: right;
    background-color: lightgoldenrodyellow;
}
.mainpage-thirdslide{
    width: 100%;
    height: 50em;
    background-color: lightgreen;
}
.mainpage-fourthslide{
    width: 100%;
    height: 50em;
    background-color: lightpink;
}