:root{
    --pageHeight: 60em;
}
*{
  margin: 0;
}
.mainpage-firstslide{
    width: 100%;
    height: var(--pageHeight);
    background-color: rgb(187, 169, 187);
}
.mainpage-secondslide{
    width: 100%;
    height: var(--pageHeight);
    background-color: lightpink;

}
.mainpage-thirdslide{
    width: 100%;
    height: var(--pageHeight);
    background-color: rgb(224, 150, 150);
}
.greeting{
    background: transparent;
    border: solid purple 0.5px;
    width: 80%;
    padding: 50px 30px 50px;
    margin: 0 auto;
}
.greeting:hover{
    border: solid rgb(88, 2, 88) 2px;
    transition: all 0.1s ease 0s;

}
.greeting h1{
    font-family: Andale Mono, monospace;
    text-align: center;
    font-size: 3em;
}
.greeting h2{
    font-family: Andale Mono, monospace;
    text-align: center;
}



@media only screen and (max-width: 600px){

}